<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>What is the positive<br><em>imagery technique?</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                        	<div class="fl-right">
                              <img src="img/positive-imagery-technique.jpg" width="183" height="271" alt="positive self talk">
                            </div>                        
                            	<li>The Positive Mental Imagery Technique helps improve performance by enabling future events to be experienced in the form of mental images in a positive way prior to them being acted out for real.</li>
                                <li>Situations and adaptive responses are pictured in the mind in as realistic a way as possible. These
anticipations are particularly relevant to successful physical performances – that is, whenever you do something involving movement! </li>
								<li>Coaches and athletes using this technique in sport sometimes refer to it as ‘visualisation’ and
use ‘performance scripting’ to help guide the imagery.</li>
                                <li>It contrasts to the Positive Self-Talk techniques in that it focuses on visual images rather than ‘inner self talk’. </li>
                                <li>A useful extension of the Positive Mental Imagery technique is to use it for ‘contingency planning’.</li>
                                <li>Contingency Planning Imagery involves
                                    <ol>picturing in your mind’s eye a performance problem arising</ol>
                                    <ol>sensing the experience of it arising </ol>
                                    <ol>experiencing working through it to reach a successful outcome.</ol>
                                </li>
                         <p>This imagery could relate to a problematic experience that in the past has given rise to excessive anxiety. You picture it arising again and, this time, you being able to successfully carry out a coping behaviour that you have selected.</p>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
