<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>How you can master the technique <em>of positive mental imagery</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <li>The aim is to experience in your mind just what it will be like when carrying out a
required behaviour for real when you need to. </li>
                            <li> You need to draw up mental images of the behaviour that you want to carry out,
one that will meet the demands of the situation you are in. </li>
<li>Then you need to imagine yourself successfully carrying out those behaviours</li>              
<li>Athletes, to perform more successfully, will build the images of themselves being successful in demanding situations. Such as a basketball player shooting the free throw ball into the net, a rugby player successfully kicking the ball over the goal posts to convert a try, a golfer holing a pressure putt, a soccer player making a perfectly placed shot from the edge of the area</li>
<li>Athletes who have learnt this skill have clearly outperformed their peers who have not used these mental imagery (sometimes called mental rehearsal) techniques. </li>
<li>Making a successful presentation in front of an audience 
<ol>
    <li>imagine yourself in the situation as it will actually occur </li>
    <li>see in your mind’s eye the audience as it will look to you the speaker</li>
    <li>experience the feeling of being suitably calm </li>
    <li>notice your breathing and be aware of how smooth and deep you are keeping it </li>
    <li>hear yourself saying “Ready, I can do it, I am well prepared” </li>
    <li>then see yourself carrying out the behaviours you know you can do, performing it well, to the best of your abilities, just as it will happen for real!</li>
    <li>picture just how you will look at the moment of success. Now notice the feelings and thoughts that go with that successful performance </li>
    <li>enjoy that feeling! See your smile! ENJOY YOUR SUCCESS!</li>
</ol>
</li>
<li>Training yourself - Before using Positive Mental Imagery in “real life” situations, it can be useful to train yourself in imagery. How can you do this? Simply, by generating images of any kind during periods of about 5 to 10 minutes a day. 
<ol>
    <li>begin by conjuring up simple images of very familiar scenes.</li>
    <li>then gradually, over time, try more complex images such as a less familiar scene, or a scene in which you are moving about. </li>
    <li>alternately, you may try picturing shapes and colours, you may try the following progression of more complex images, imagine a simple green square or circle, picture a dark green coloured pyramid, move onto a tree with various shades of green leaves and garden of many shapes and colours. </li>
    <li>Note: For some people, their images are very realistic and indeed seem just like the real thing. For others the image maybe more a sense of a visual display and that’s OK too.</li>
</ol>
</li>
<li>Then when you are ready choose an upcoming situation to apply this technique. </li>
<li>Reflect afterwards if you feel your performance and personal wellness has been improved</li>
<span>Over time there should be a change for the better, so keep practising </span> 
            </section>
</div>
