

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img src="app/styles/images/SGH-logo.png" width="90%"></a>
            <div><img src="app/styles/images/humanface.jpg" width="100%" alt="WellKom"></div>
            </div>
               <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                             Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Positive imagery Technique
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            What is the positive imagery technique?
                        </a>
                    </li>
                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            When can you use the positive mental imagery technique?
                        </a>
                    </li>
                    <li>
                        <a href="#projects2">
                            <span class="rect"></span>
                            <span class="circle"></span>
                           How you can master the technique of positive mental imagery
                        </a>
                    </li>
                    <li>
                        <a href="#video3">
                            <span class="rect"></span>
                            <span class="circle"></span>
                           Mastering the technique of positive imagery
                        </a>
                    </li>
                    <li>
                        <a href="#grey">
                            <span class="rect"></span>
                            <span class="circle"></span>
                           Contingency planning imagery
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Additional resources
                        </a>
                    </li>
                    <li>
                        <a href="#thankyou">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Thank you!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>